.article__title
{
    font-size: 22px;

    margin: 0 0 22px 0;
}

.article__title .b-link
{
    color: #252525;

    border-bottom: 1px dotted transparent;
}

.article__title .b-link:hover
{
    color: #E53B2C;
    border-bottom: 1px solid #E53B2C;
}
