/*.form__button
{
    font: 11px/44px Georgia, 'Times New Roman', serif;

    display: block;

    width: 100%;
    margin: 0;
    padding: 0 11px;

    letter-spacing: 1px;
    text-transform: uppercase;

    cursor: pointer;

    color: #E53B2C;
    border: 3px double #E53B2C;
    background: transparent;

    -webkit-transition: all 0.2s cubic-bezier(0, 0, 0.58, 1);
       -moz-transition: all 0.2s cubic-bezier(0, 0, 0.58, 1);
         -o-transition: all 0.2s cubic-bezier(0, 0, 0.58, 1);
            transition: all 0.2s cubic-bezier(0, 0, 0.58, 1);
}

.form__button:hover,
.form__button:focus
{
    outline: 0;

    color: #fff;
    border: 3px double #fff;
    background: #E53B2C;
}*/
