.title
{
    margin: 0;
    padding: 0;
}

h2.title
{
    font: 24px/26px 'oranienbaum';
    font-weight: normal;

    margin: 0 0 22px 0;
}

h3.title
{
    font: 22px/26px 'oranienbaum';
    font-weight: normal;

    margin: 0 0 22px 0;
}

.title span
{
    position: absolute;
    left: -0.75em;

    width: 7.29%;

    text-align: right;
}
