.postify .input[name=title]
{
    font: 24px/26px 'oranienbaum';
    font-weight: normal;

    width: 100%;
    height: 26px;
    margin: -1px 0 59px 0;
    padding: 0;

    border: none;
}

.postify .textarea[name=content]
{
    font: 16px/22px georgia, serif;

    width: 100%;
    min-height: 300px;
    margin: 1px 0 0 0;
    padding: 0;

    border: none;
}

.postify .input[name=tags]
{
}
