.text blockquote
{
    font-style: italic;

    margin: 0;
}

.text blockquote::before
{
    position: absolute;

    margin-left: -7px;

    content: '„';
}

.text blockquote::after
{
    content: '“';
}
