@-webkit-keyframes shake {
    0%, 100% {
        -webkit-transform: translateX(0);
    }

    10%, 30%, 50%, 70%, 90% {
        -webkit-transform: translateX(-10px);
    }

    20%, 40%, 60%, 80% {
        -webkit-transform: translateX(10px);
    }
}

@-moz-keyframes shake {
    0%, 100% {
        -moz-transform: translateX(0);
    }

    10%, 30%, 50%, 70%, 90% {
        -moz-transform: translateX(-10px);
    }

    20%, 40%, 60%, 80% {
        -moz-transform: translateX(10px);
    }
}

@keyframes shake {
    0%, 100% {
        transform: translateX(0);
    }

    10%, 30%, 50%, 70%, 90% {
        transform: translateX(-10px);
    }

    20%, 40%, 60%, 80% {
        transform: translateX(10px);
    }
}

.animation_state_shake
{
    -webkit-animation: shake 1s forwards cubic-bezier(0.8, 0.02, 0.45, 0.91);
       -moz-animation: shake 1s forwards cubic-bezier(0.8, 0.02, 0.45, 0.91);
            animation: shake 1s forwards cubic-bezier(0.8, 0.02, 0.45, 0.91);
}
