.input
{
    font: 13px/24px georgia, serif;

    box-sizing: border-box;
    margin: 0;

    outline: none;
    border: 3px double #999;
    background: transparent;

    -webkit-transition: all 0.15s ease;
       -moz-transition: all 0.15s ease;
            transition: all 0.15s ease;
}

.input:focus
{
    background: #fffff0;
}
