.tags
{
    font-size: 12px;

    margin: 0;
    padding: 0;

    list-style: none;
}

.tags__item
{
    display: inline-block;

    margin: 0 5px 0 0;
}

.tags__item::after
{
    content: ',';
}

.tags__item:last-child::after
{
    content: none;
}
