.nav__item
{
	display: inline-block;

	margin: 0 0 0 25px;

	letter-spacing: 1px;
}

.nav__item .b-link
{
	text-decoration: none;
	text-transform: uppercase;
}

.nav__item::before
{
	font-size: 15px;

	position: absolute;

	margin-left: -25px;
}

.nav__item[rel='prev']::before
{
	content: '←';
}

.nav__item[rel='next']::before
{
	content: '→';
}
