.logo
{
    font: 20px/24px 'oranienbaum';
    font-weight: normal;

    margin: 0;
    padding: 0;
}

.logo .link
{
    color: #e7e7e7;
    border-color: transparent;
}

.logo .link:hover
{
    color: #fff;
    border-color: transparent;
}
