/**
 * @note Сума довжин всіх резинових колонок повинна бути рівна 100%
 *
 */

.grid__unit_liquid_96
{	
	width: 96%;
}

.grid__unit_liquid_48
{	
	width: 48%;
}

.grid__unit_liquid_32
{	
	width: 32%;
}

.grid__unit_liquid_24
{	
	width: 24%;
}

.grid__unit_liquid_16
{	
	width: 16%;
}

.grid__unit_liquid_12
{	
	width: 12%;
}

.grid__unit_liquid_8
{	
	width: 8%;
}

.grid__unit_liquid_2
{	
	width: 2%;
}
