.button_color_red
{
    color: #fcfcf9;
    border: 3px double #fcfcf9;
    background: #cc5454;
}

.button_color_red:hover,
.button_color_red:focus
{
    color: #cc5454;
    border: 3px double #cc5454;
    background: #fcfcf9;
}
