.button_color_blue
{
    color: #fcfcf9;
    border: 3px double #fcfcf9;
    background: #369;
}

.button_color_blue:hover,
.button_color_blue:focus
{
    color: #369;
    border: 3px double #369;
    background: #fcfcf9;
}
