.button_color_green
{
    color: #fcfcf9;
    border: 3px double #fcfcf9;
    background: #57ad68;
}

.button_color_green:hover,
.button_color_green:focus
{
    color: #57ad68;
    border: 3px double #57ad68;
    background: #fcfcf9;
}
