.button_color_yellow
{
    color: #fcfcf9;
    border: 3px double #fcfcf9;
    background: #EFAB00;
}

.button_color_yellow:hover,
.button_color_yellow:focus
{
    color: #EFAB00;
    border: 3px double #EFAB00;
    background: #fcfcf9;
}
