.hentry__title
{
	font-size: 18px;
	font-weight: normal;

	line-height: 18px;
	text-transform: uppercase;

	color: #4E729D;
}

.hentry__title .b-link
{
	text-decoration: none;

	border-bottom: 1px solid;
	color: #4E729D;
}
