.chapter
{
    position: relative;
}

.chapter .title::before
{
    font-size: 15px;
    font-family: 'oranienbaum';
    font-weight: normal;

    position: absolute;
    left: -13px;

    content: '§';
}
