.bullet
{
	text-align: center;
}

.bullet .b-icon
{
	display: inline-block;

	width: 16px;
	height: 16px;

	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAMAAAAoLQ9TAAAANlBMVEX///8xLiwxLiwxLiwxLiwxLiwxLiwxLiwxLiwxLiwxLiwxLiwxLiwxLiwxLiwxLiwxLiwxLixjmMr1AAAAEXRSTlMAAECPMM9/UL9wIBBgn9/vr78rZ4cAAACASURBVHhejMjRCsIwEETRO+nasCQW8v+faVWQxrUGUPrWCwPM4VSSSjZ9g8To8SoV4AfkZPMBOsQfSq4d3ro4GODdmeK235WRrLW27JscBIg5NrSsGzGg3iFFAAQJeFq+hn/GgXDHv/+/PgNJZrAAC9QRjL///kNx2D8WCB8TAABh+iD+xM44EAAAAABJRU5ErkJggg==);
	/*background: url(bullet.png);*/
}
