.footer
{
    padding: 70px 7.29% 22px 7.29%;

    color: #999;
}

.footer .link
{
    color: #999;
    border-color: rgba(153, 153, 153, 0.25);
}

.footer .link:hover
{
    color: #d04000;
    border-color: rgba(208, 64, 0, 0.25);
}
