.button
{
    font: 13px/24px georgia, serif;

    display: inline-block;

    width:auto !important;
    height: 30px;
    margin: 0;
    padding: 0 13px;

    cursor: pointer;
    letter-spacing: 2px;
    text-transform: uppercase;
    outline: none;

    color: #fcfcf9;
    border: 3px double #fcfcf9;
    background: #b3b3b1;

    -webkit-transition: all 0.15s ease;
       -moz-transition: all 0.15s ease;
            transition: all 0.15s ease;
}

.button:hover,
.button:focus
{
    color: #b3b3b1;
    border: 3px double #b3b3b1;
    background: transparent;
}
