.aside
{
	display: inline-block;

	width: 38.2%;

	vertical-align: top;
}

.aside .text__h3
{
	font-size: 11px;

	margin: 0 0 20px 0;

	letter-spacing: 1px;
	text-transform: uppercase;

	color: #252525;
}

.aside .text__ol
{
	list-style: none;
}

.aside .text__li::before
{
	font-size: 15px;

	position: absolute;

	margin-left: -25px;
}

.aside .text__li[rel='prev']::before
{
	content: '→';
}

.aside .text__li[rel='next']::before
{
	content: '←';
}
